.tmc-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tmc-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

/* Show modal with animation */
.tmc-modal.show {
    opacity: 1;
    visibility: visible;
}

.tmc-modal.show .tmc-modal-content {
    transform: scale(1);
}

/* Smooth fade-out */
.tmc-modal:not(.show) {
    opacity: 0;
    visibility: hidden;
}


.tmc-modal-left img {
    max-width: 20%;
}